body {
  background-color: lightgreen;

  /* Smoothly transition the background color */
  transition: background-color .5s;
}

.player {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(-45deg, #f71818, #ffda08, #ec0470, #2ff1c4);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  margin: 100px;
  border-radius:20px;
}



@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  border-radius: 15%;
}

.now-playing {
  font-size: 1rem;
  color:black;
  font-size: 23px;
 
}

.track-name {
  font-size: 3rem;
  
}

.track-artist {
  font-size: 1.5rem;

}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.playpause-track, .prev-track, .next-track {
  padding: 25px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.playpause-track:hover, .prev-track:hover, .next-track:hover {
  opacity: 1.0;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
  cursor: pointer;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Simple reset */
 #body *, #footer *{ margin: 0; padding: 0; display: block; color: #3d3d3d; font-family: "Open Sans", sans-serif; font-size: inherit; font-weight: normal; text-decoration: none; line-height: 1; outline: 0; } 
 
/* FontAwesome */
    @font-face{ font-family: "FontAwesome"; src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0"); src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; } 
 
/* Queries */
    /* Min */
    @media (min-width: 0){ 
      
            body{ min-width: 200px; } 
                #body{  } 
                    #page{ padding: 4em; background: #fff; } 
                        #page > h2{ color: #444; font-size: 1.25em; font-weight: 600; text-transform: uppercase; } 
                        #page > p{ margin-top: 2em; line-height: 1.25; } 
                #footer{ background: #202020; } 
                    #cta{ padding: 4em; background: #350f55; } 
                        #cta > h2{ color: #fff; font-size: 2em; font-weight: 600; text-transform: uppercase; text-align: center; } 
                        #cta > p{ margin-top: 1em; color: #ddd; text-align: center; line-height: 1.5; } 
                        #cta > form{ margin: 0 auto; margin-top: 2em; max-width: 40em; } 
                            #cta > form{ position: relative; } 
                                #cta > form > input[type=text]{ padding: 1em; padding-right: 7em; width: 100%; height: 4em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 
                                #cta > form > input[type=submit]{ position: absolute; top: 0; right: 0; bottom: 0; padding: 1em; height: 4em; color: #fff; font-weight: 600; background: #fe9909; border: 0; cursor: pointer; } 
                                #cta > form > input[type=submit]:hover{ background: #fdca40; } 
                    #resources{  } 
                        #resources > h2{ display: none; }
                        #modules{ padding: 4em; margin-bottom: -2em; } 
                            #modules > h2{ display: none; } 
                            #modules > .module{  } 
                                #modules > .module > h3{ margin-bottom: 2em; color: #f2f0ed; font-size: 1.25em; font-weight: 600; text-transform: uppercase; text-align: center; } 
                                #modules > .module > p{ margin-bottom: 2em; color: #f2f0ed; line-height: 1.25; } 
                                #modules > .module > ul{ margin-bottom: 2em; } 
                                    #modules > .module > ul > li{ color: #f2f0ed; line-height: 1.25; } 
                                        #modules > .module > ul > li > a{ color: #fe9909; line-height: 1.25; } 
                                        #modules > .module > ul > li.mail > a:before{ content: "\f003"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li.phone > a:before{ content: "\f095"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li.facebook > a:before{ content: "\f09a"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li.twitter > a:before{ content: "\f099"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li > a:hover{ color: #fdca40; } 
                    #signature{  } 
                    #legal{ padding: 2em 4em; background: #f9f8f7; } 
                        #legal > p{ font-size: 0.75em; text-align: center; } 
                            #legal > p > a{ display: inline; color: #fe9909; line-height: 1.25; text-decoration: underline; } 
                            #legal > p > a:hover{ color: #fdca40; } 
    }
    /* Bricks */
    @media (min-width: 200px){ 

            body{  } 
    } 
    /* Smartphones */
    @media (min-width: 300px){ 
        html{  } 
            body{  } 
    } 
    /* Retina */
    @media (min-width: 479px){ 
       
            body{  } 
    } 
    /* Tablet */
    @media (min-width: 768px){ 
        html{  } 
            body{  } 
                #body{  } 
                    #resources{  } 
                        #modules{ overflow: hidden; } 
                            #modules > .module{ float: left; width: 50%; } 
                                #modules > .module > h3{ text-align: left; } 
                                #modules > .module:nth-child(odd) > h3{ text-align: right; } 
                                #modules > .module > p{  }  
                                #modules > .module:nth-child(odd) > p{ text-align: right; } 
                                #modules > .module > ul{  } 
                                    #modules > .module > ul > li{  } 
                                    #modules > .module:nth-child(odd) > ul > li{ text-align: right; } 
                                        #modules > .module > ul > li > a{  } 
    } 
    /* Desktop */
    @media (min-width: 979px){ 
      
            body{  } 
                #body{  } 
                    #resources{  } 
                        #modules{  } 
                            #modules > .module{ width: 25%; } 
                                #modules > .module > h3{ text-align: left; } 
                                #modules > .module:nth-child(odd) > h3{ text-align: left; } 
                                #modules > .module > p{  } 
                                #modules > .module:nth-child(odd) > p{ text-align: left; } 
                                #modules > .module > ul{  } 
                                    #modules > .module > ul > li{  } 
                                    #modules > .module:nth-child(odd) > ul > li{ text-align: left; } 
                                        #modules > .module > ul > li > a{  } 
    } 
    /* Widescreen */
    @media (min-width: 1800px){ 
        
            body{  } 
    } 
    /* Max */
    @media (min-width: 2800px){ 
     
            body{  } 
    } 




